*{
	margin:0;
	padding: 0;
}

.container{
	background-color:#15154D;
	max-width: 1500px;
	width:90%;
	margin:auto;
	padding:40px 5px;
	font-size:0;
}

.glass_container{
	margin: 50px;
	padding: 30px 50px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 50px;
	backdrop-filter: blur(120px);
	border-top: 2px solid rgba(255, 255, 255, 0.4);
	border-left: 2px solid rgba(255, 255, 255, 0.4);
}

.photo_gallery{
	background-color:#15154D;
	display:flex;
	font-size:0;
	gap:5px;
}

.photo_gallery_column{
	background-color:#15154D;
	display:flex;
	flex-direction:column;
	font-size:0;
	flex-basis: 100%;
	gap:5px;
}

.photo{
/*	background-color:dimgrey;*/
	width:100%;
	border-radius: 10px;
	object-fit: cover;
	font-size:0;
}

img{
	width:100%;
/*	border-radius: 5px;*/
	font-size:0;
}
img{
	width: 100%;
	border-radius:10px;
	padding:0;
	margin: 0;
	font-size:0;
}

body{
	background-color: black;
}

h1 {
	color: white;
	font-size: 1em;
	text-align: center;
}
h2 {
	color: white;
	font-size: 1em;
	text-align: center;
}
h1.title{
	color: white;
	font-size: 2em;
	text-align: center;
	display:block;
	background-color:#202078;
	padding:50px;
}


nav ul{
	overflow: hidden;
	list-style-type: none;
	background-color: #522258;
}



li a{
	float:left;
	display: block;
	font-size: 2em;
	float: left;
	color: white;
	padding:20px;
	text-decoration: none;
}

li a:hover{
	background-color:#D95F59;
}

nav {

	top: 0;
	width: 100%;
}

.content{
	margin-left: 5%;
	margin-right: 5%;
}

p{
	color:white;
	font-size: 16pt;
	padding: 20px;
}

hr{
	color:blue;
}

.glass{
	border-radius:50px;
	width:80%;

	margin:auto;
	color:white;
	margin-top: 50px;
	font-size: 2em;
	backdrop-filter: blur(10px);
	background-color: rgba(255, 255, 255, 0.027);
	border-top:1px solid rgba(255, 255, 255, 0.4);
	border-left:1px solid rgba(255, 255, 255, 0.4);
	padding: 20px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);

}

.hero_title{
/*	float:right;*/
	text-align: right;
	padding:50px;
	font-size: 10rem;
}
.hero_subtitle{
/*	float:right;*/
	text-align: right;
	padding:50px;
	font-size: 5rem;
}
.hero_image{
	height:1080px;
	background-image: url('XYZ.png');
	background-repeat: no-repeat;
	background-position: bottom;
/*	background-attachment: fixed;*/
}

@media(max-width:768px){
	.photo_gallery{
		flex-direction:column;
	}
	.hero_title{
		float:none;
		margin:auto;
		padding:20px;
		font-size: 5rem;
	}
	.hero_subtitle{
		float:none;
		margin:auto;
		padding:20px;
		font-size: 2rem;
	}
	.hero_image{
/*		background-color:blue;*/
		height:650px;
/*		width:500px;*/
		background-size: 100%;
		background-image: url('XYZmini.png');
		background-repeat: no-repeat;
		background-position: top;
/*		background-attachment: fixed;*/
	}
}